<mat-toolbar>
    <button md-button (click)="addTab()"> <mat-icon>create</mat-icon></button>
  <button md-button (click)="saveTab()"> <mat-icon >save</mat-icon> </button>
</mat-toolbar>

<mat-tab-group #tabGroup (selectedTabChange)="tabChanged($event)">
  <mat-tab *ngFor="let tab of tabs; let i = index" label="{{tabs[i].name}}">
    <form class="example-container">
    <mat-form-field>
      <textarea matInput id="tabs{{i}}" [(ngModel)]='tabs[i].content' name="content{{i}}" matTextareaAutosize matAutosizeMinRows="20"></textarea>
      </mat-form-field>
    </form>
  </mat-tab>
</mat-tab-group>
